<div class="jumbotron main-container container-fluid text-light p-5">
  <div class="hero">
    <h1 class="display-5 mb-3"><%= "Here is your #{@list.name} movie list. Enjoy browsing through them" %></h1>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
    <div class="d-flex m-5">
      <a class="btn btn-primary btn-lg" href="#" role="button">Add more movies!</a>
      <a class="btn btn-danger btn-lg" href="#" role="button">Delete list.</a>
    </div>
    </p>
  </div>
</div>
