.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5rem;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.768)), asset-url("main-movie-genres-film.webp");
  transition: 0.3s;
  font-weight: bold;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.678);
    }
}
